AUTH_USERNAME=admin
AUTH_PASSWORD=replace-with-random-password
AUTH_JWT_SECRET=replace-with-random-secret
AUTH_TOKEN_TTL_SECONDS=86400
RUNWEAVE_TUNNEL_TOKEN=
RUNWEAVE_TUNNEL_AUTH_SCOPE=forwarded
LIVE_SMOKE_ENABLED=false
LIVE_TARGET_URL=
LIVE_AUTH_TOKEN=
